
@{
    ViewBag.Title = "Index";
}

@section Scripts {
    <script type="text/javascript">
        function sendBegin() {
            $(".msg").hide();

            var phoneno = /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/;
            if ($('#phone').val().match(phoneno)) {
                $("#sending").show();
                return true;
            }
            else {
                $("#formaterror").show();
                return false;
            }
        }
        function sendSuccess() {
            $(".msg").hide();
            $("#sent").show();
        }
        function sendFailure() {
            $(".msg").hide();
            $("#servererror").show();
        }
    </script>
}

<div class="row">
    <div class="col-md-6">
        <div style="text-align:center">
            <img src="@Url.Content("/Content/images/owlapp_mock.png")" />
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top:100px">
            <h1 style="font-weight: bolder; text-shadow: 5px 5px 5px #888888">Whooooo goes there!?!</h1>

            @using (Ajax.BeginForm("Send", new AjaxOptions { HttpMethod = "POST", OnBegin = "sendBegin", OnSuccess = "sendSuccess", OnFailure = "sendFailure" }))
            {
                <p>Text your phone a link to owl.ly, the mobile app for owls</p>
                <p>@Html.TextBox("phone", "", new { placeholder = "Enter Your Mobile Number", style = "width:225px;font-size:16px" }) <input type="submit" style="font-size:16px" value="Get Link" /></p>
                <p>
                    <span style="display:none;color:red" class="msg" id="formaterror">That doesn't quite look like phone number.</span>
                    <span style="display:none" class="msg" id="sending">Sending</span>
                    <span style="display:none;color:green" class="msg" id="sent">Text Sent</span>
                    <span style="display:none;color:red" class="msg" id="servererror">Hrm.  We had a problem sending you a text.  Can you try again?</span>
                </p>
            }
        </div>
    </div>
</div>