
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-xs-12">
            <div style="text-align:center">
                <img src="@Url.Content("/Content/images/8494616379_7d996a5060_h_sm.png")" />
            </div>
            <div style="text-align:center; height:75px; background-color:rgba(0, 0, 0, 0.50); position:fixed;left:0;bottom:0;width:100%; vertical-align:middle">
                <a href="@Constants.APPSTORELINK"><img src="@Url.Content("/Content/images/Download_on_the_App_Store_Badge_US-UK_135x40.png")" style="margin-top:15px" /></a>
            </div>
    </div>

</div>

